*{
  box-sizing: border-box;
  font-family: century gothic;

}
.header{
  background-color: white;
  font-family: century gothic;
  width: 100%;
  font-size: 13px;
  color: #BBBBBB;
}
.top a:hover{
  color: #AEF1EB;
}

a{
  text-decoration: none;
  font-weight: normal;
  color: inherit;
}
.top{
  float: right;
  text-align: right;
  z-index: 4;
  position: relative;
  margin-top: 7px;
}
.top a{
  display: block;
  list-style-type: none;
  margin-right: 14px;
  margin-top: 12px;
  font-weight: bold;
}

.fa {
    color: #BBBBBB;
    padding: none;

}

.socialmedia{
  display: block;
  position: absolute;
  margin-left: 10px;
  line-height: 10px;
  z-index: 2;
}
.fa:hover{
  color: #AEF1EB;
}


.backtomain {
  animation-duration: 1s;
  animation-name: changecolor;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  overflow: hidden;
  z-index: 100;
  font-size: 20px;
  /*display: block;*/
  position: absolute;
  margin-left: 730px;
  margin-right: 730px;
  top:-15px;

}

@keyframes changecolor {
  from {
    color: black;
  }

  to {
    color:white;
  }
}

body, html {
    height: 100%;
}
.text1{
  display: block;
  margin: auto;
  line-height: 25px;
  color: white;
}

.p1{
  border-style: double;
  border-width: 7px;
  border-color: white;
  margin-left: 5%;
  margin-top: 5%;
  background-color: #846d79;
  position: absolute;
  z-index: 5;
  font-size: 15px;
  border-radius: 100%;
  width: 230px;
  height: 230px;
  text-align: center;
  vertical-align: middle;
  display: flex;
  justify-content: center;
  align-items: center;

}

.p1:hover{
  content: url("images/email.png");
  opacity: 0.7;
}
.p2{
  border-style: double;
  border-width: 7px;
  border-color: white;
  width: 230px;
  height: 230px;
  margin-left: 45%;
  margin-top: 14%;
  background-color: #69657c;
  position: absolute;
  z-index: 5;
  font-size: 15px;
  border-radius: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.p2:hover{
  content: url("images/phone.png");
  opacity: 0.7;
}

.p3{
  border-style: double;
  border-width: 7px;
  border-color: white;
  width: 230px;
  height: 230px;
  margin-left: 22%;
  margin-top: 25%;
  background-color: #6f8996;
  position: absolute;
  z-index: 5;
  font-size: 15px;
  border-radius: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

}

.p3:hover{
  content: url("images/social.png");
  opacity: 0.7;
}
.bg {
    background-image: url("images/contact.png");
    z-index: 1;
    position: relative;
    height: 100%;
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #fcfcfc;
}

.line1{
  height: 72px;
  width: 1px;
  margin-left: 13%;
  border-left: 2px solid #846d79;
  position: absolute;
  z-index: 2;
}
.line2{
  height: 202px;
  width: 1px;
  margin-left: 53%;
  border-left: 2px solid #69657c;
  position: absolute;
  z-index: 2;
}
.line3{
  height: 360px;
  width: 1px;
  margin-left: 30%;
  border-left: 2px solid #6f8996;
  position: absolute;
  z-index: 2;
}
