*{
  box-sizing: border-box;
  background-color: pink;
}
.header{
  background-color: white;
  font-family: century gothic;
  width: 100%;
  font-size: 13px;
  color: #BBBBBB;
}
.top a:hover{
  color: #AEF1EB;
}

a{
  text-decoration: none;
  font-weight: normal;
  color: inherit;
}
.top{
  float: right;
  text-align: right;
  z-index: 4;
  position: relative;
  margin-top: 7px;
}
.top a{
  display: block;
  list-style-type: none;
  margin-right: 14px;
  margin-top: 12px;
  font-weight: bold;
}

.fa {
    color: #BBBBBB;
    padding: none;

}

.socialmedia{
  display: block;
  position: absolute;
  margin-left: 10px;
  line-height: 10px;
  z-index: 2;
}
.fa:hover{
  color: #AEF1EB;
}

body, html {
    height: 100%;
}

/*.bg {
    background-image: url("file:///Users/Sharon/Desktop/website/images/contact.png");
    z-index: 1;
    position: relative;
    height: 100%;
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #fcfcfc;
}*/
