*{
  box-sizing: border-box;
  font-family: century gothic;

}
.header{
  background-color: white;
  font-family: century gothic;
  width: 100%;
  font-size: 13px;
  color: #BBBBBB;
}
.top a:hover{
  color: #AEF1EB;
}

a{
  text-decoration: none;
  font-weight: normal;
  color: inherit;
}
.top{
  float: right;
  text-align: right;
  z-index: 4;
  position: relative;
  margin-top: 7px;
}
.top a{
  display: block;
  list-style-type: none;
  margin-right: 14px;
  margin-top: 12px;
  font-weight: bold;
}

.fa {
    color: #BBBBBB;
    padding: none;

}

.socialmedia{
  display: block;
  position: absolute;
  margin-left: 10px;
  line-height: 10px;
  z-index: 3;
}
.fa:hover{
  color: #AEF1EB;
}

.backtomain {
  animation-duration: 1s;
  animation-name: changecolor;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  overflow: hidden;
  z-index: 100;
  font-size: 20px;
  /*display: block;*/
  position: absolute;
  margin-left: 49.3%;
  /*margin-right: 730px;*/
  top:-15px;

}

@keyframes changecolor {
  from {
    color: black;
  }

  to {
    color:white;
  }
}



body, html {
    height: 100%;
}

.bg {
    background-image: url("images/resumeblur.png");
    z-index: 1;
    position: relative;
    height: 100%;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}


.csside {
  /*top: 150px;*/
  /*margin-left: 170px;*/
  z-index: 2;
  width: 50%;
  height: 100%;
  position: absolute;
  background-color: #c0e8ff;
  font-size: 25px;
  text-align: right;
  padding-right: 40px;
  padding-top: 20%;
  color: white;
}

.csside:hover {
  color: #c0e8ff;
}

.csside:before {
  content: "";
  position: absolute;
  z-index:-1;
  top: 0;  left: 0;  right: 0;  bottom: 0;
  background-color: white;
  transform: scaleX(0);
  transform-origin: 100% 50%;
  transition: transform .5s ease-out;
}
.csside:hover:before{
  transform: scaleX(1);
}



.businessside {
  /*top: 150px;*/
  margin-left: 50%;
  z-index: 2;
  width: 50%;
  height: 100%;
  position: absolute;
  background-color: #f7dcc2;
  font-size: 25px;
  text-align: left;
  padding-left: 40px;
  padding-top: 20%;
  color: white;
}
.businessside:hover {
  color: #f7dcc2;
}

.businessside:before {
  content: "";
  position: absolute;
  z-index:-1;
  top: 0;  left: 0;  right: 0;  bottom: 0;
  background-color: white;
  transform: scaleX(0);
  transform-origin: 0 50%;
  transition: transform .5s ease-out;
}
.businessside:hover:before{
  transform: scaleX(1);
}



}
