body {
  background-color: white;
}

.typer {
  text-align: left;
  color: #BDBCBC;
	justify-content: center;
	margin-top: 3%;
	font-size: 100px;
	margin-left: 30px;
  font-family: 'Bubbler One';
  position: absolute;
  top: 25%;
  left: 22%;
  z-index: 2;
}


.menu {
  opacity: 0;
  display: block;
  color: #BDBCBC;
  z-index: 20;
  visibility: hidden;

}

.icon-menu {
  color: #BDBCBC;
  cursor: pointer;
  font-family: 'Bubbler One';
  font-size: 16px;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-top: 25px;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  z-index: 20;
}

.entire-menu {
  float: right;
  position: relative;
  right: 2%;
  top: 3%;
  display: block;
  text-align: right;
  z-index: 20;
}

.menu-list a{
  text-decoration: none;
  color: #BDBCBC;
  margin-top: 8px;
  display: block;
}

.menu-list {
  list-style-type: none;
  font-family: 'Bubbler One';
  z-index: 20;
}

.bars {
  opacity: 1;
  z-index: 20;
}

.close {
  opacity: 0;
  z-index: 20;
}

hr {
  width: 0%;
  position: relative;
  top: 50%;
  vertical-align: top;
  border-top: 1px solid #BDBCBC;
  z-index: 12;
  border-bottom: none;
}
.line {
  background: rgba(0,0,0,0);
  position: absolute;
  top: 10%;
  margin-top: -6px;
  width: 100%;
  height: 1px;
  z-index: 12;
}

.blob {
  background: rgba(0,0,0,0);
  width: 100%;
  height: 100%;
  position: fixed;
  top:0;
  left:0;
  z-index: 9;
}

.name {
  width: 35%;
  position: relative;
  top:14%;
  left:50%;
  transform: translateY(-50%);
  transform: translateX(-50%);
  opacity: 0;
  z-index: 9;
}

/* .name {
  width: 35%;
  top: 50%;
  transform: translateY(-50%);
  left:50%;
  transform: translateX(-50%);
  position: fixed;

}

.blob {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: green;
  z-index: 0;
  top: 0;
  left: 0;
} */

/*.blob {
    background: rgba(0,0,0,0);
    width: 0px;
    height: 0px;
    margin-top: 200px;
    margin-left: 700px;
    -webkit-transition: width 1s, height 1s, margin 1s;
    -moz-transition: width 1s, height 1s, margin 1s;
    -ms-transition: width 1s, height 1s, margin 1s;
    transition: width 1s, height 1s, margin 1s;
    z-index: 4;
    position: fixed;
}
.blob:hover {
    width: 400px;
    height: 400px;
    margin-top: 5px;
    margin-left: 505px;
    //initial margin - (width change (and/or height change)/2), so here 100px is initial margin, and the change is (100px final W/H - 10px initial W/H = 90px change, so 100px - (90px / 2 [= 45px]) = 55px)
}*/

canvas {
    padding-left: 32%;
    position: absolute;
    width: 900px;
    z-index: 10;
    top: 36%;
}

.bg {
  width: 75%;
  height: 0%;
  align-items: center;
  background-color: #BDBCBC;
  position: absolute;
  top: 10.3%;
  left: 13%;
}
