*{
  box-sizing: border-box;
  font-family: century gothic;
}
.header{
  background-color: white;
  font-family: century gothic;
  width: 100%;
  font-size: 13px;
  color: #BBBBBB;
}
.top a:hover{
  color: #AEF1EB;
}

a{
  text-decoration: none;
  font-weight: normal;
  color: inherit;
}
.top{
  float: right;
  text-align: right;
  z-index: 4;
  position: relative;
  margin-top: 7px;
}
.top a{
  display: block;
  list-style-type: none;
  margin-right: 14px;
  margin-top: 12px;
  font-weight: bold;
}

.fa {
    color: #BBBBBB;
    padding: none;

}

.socialmedia{
  display: block;
  position: absolute;
  margin-left: 10px;
  line-height: 10px;
  z-index: 2;
}
.fa:hover{
  color: #AEF1EB;
}

body, html {
    height: 100%;
}

.bg {
    /*background-image: url("images/map.png");*/
    background-image: url("images/polaroid.png");
    z-index: 1;
    position: relative;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: white;
}

.map{
  background-image: url("images/map.png");
  z-index: 1;
  position: relative;
  min-height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.text1{
  position: relative;
  z-index: 5;
  width: 100%;
  padding-top: 20px;

}
.title{
  position: absolute;
  z-index: 10;
  background-color: rgba(150,150,150,0.7);
  float: right;
  right: 27%;
  top: 27%;
  border-style: solid;
  border-color: #6b6969;


}

.where{
  font-size: 70px;
  text-align: center;
  color: white;
  padding: 50px 60px;
  margin: auto;


}
.goal{
  font-size: 15px;
  color: #a5a4a2;
  text-align: center;
  margin-top: 2%;
}

.chevron{
  height: 40px;
  width: 40px;
  transform: rotate(135deg);
  border-top: 5px solid #6b6969;
  border-right: 5px solid #6b6969;
  z-index: 21;
  margin-left: 50%;
  margin-top: 42%;
  position: absolute;
  top: 0;
  transition: top ease 0.5s;
}

.chevron:hover{
  top: 20px;
}

.text11{
  transition: ease 0.5s;
}
/*.pin1{
  border: 1px solid black;
  min-height: 3%;
  min-width: 0.3%;
  position: absolute;
  z-index: 10;
  margin-left: 23.3%;
  margin-top: 16.5%;
}*/
